In [1]:
#assignment5
'''create a directory for students and their marks. 
Each student having 5 subjects. 
Convert this into DataFrame. 
Find the student who gets max marks'''
import pandas as pd
class_marks=[{'english':60,'hindi':65,'math':85,'science':60,'social':90},
             {'english':65,'hindi':70,'math':80,'science':65,'social':91},
             {'english':70,'hindi':75,'math':75,'science':70,'social':92},
             {'english':75,'hindi':80,'math':70,'science':75,'social':93},
             {'english':80,'hindi':85,'math':65,'science':80,'social':94}]
student_marks=pd.DataFrame(class_marks,index=['raju','reema','rohan','sanvi','danish'])
print(student_marks)

        english  hindi  math  science  social
raju         60     65    85       60      90
reema        65     70    80       65      91
rohan        70     75    75       70      92
sanvi        75     80    70       75      93
danish       80     85    65       80      94

In [2]:
student_marks['total']=student_marks['english']+student_marks['hindi']+student_marks['math']+student_marks['science']+student_marks['social']
print(student_marks)

        english  hindi  math  science  social  total
raju         60     65    85       60      90    360
reema        65     70    80       65      91    371
rohan        70     75    75       70      92    382
sanvi        75     80    70       75      93    393
danish       80     85    65       80      94    404

In [3]:
max_marks=student_marks['total'].max()
print(max_marks)

404

In [4]:
student_marks.loc[student_marks['total'] == max_marks]

        english  hindi  math  science  social  total
danish       80     85    65       80      94    404